
notepadv3/.idea/caches/build_file_checksums.ser
notepadv3/.idea/caches/gradle_models.ser
notepadv3/.idea/codeStyles/Project.xml
notepadv3/.idea/misc.xml
notepadv3/.idea/modules.xml
notepadv3/.idea/runConfigurations.xml
notepadv3/app/app.iml
notepadv3/Notepadv3.iml
notepadv3/notepadv3.iml
